services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
  
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file: .env
    depends_on:
      - redis